/*
 ⚡MAKE SURE TO SUBSCRIBE PROGRAMMER CLOUD⚡
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header__wrapper header {
  width: 100%;
  background: url(../img/bg_page.png) no-repeat 45% 40% / cover;
  min-height: calc(140px + 20vw);
}

.header__wrapper .cols__container .left__col {
  /* padding: 25px 20px; */
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  top: -56px;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  cursor: pointer;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}

.header__wrapper .cols__container .left__col .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper .cols__container .left__col .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}

.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}

.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}

.header__wrapper .cols__container .left__col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}

.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}

.header__wrapper .cols__container .left__col .about li span {
  color: #1d1d1d;
  font-weight: 600;
}

.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}

.header__wrapper .cols__container .content p {
  font-size: 14px;
  color: #1d1d1d;
  line-height: 1.8em;
}

.header__wrapper .cols__container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.header__wrapper .cols__container .content ul li {
  display: flex;
}

.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}

.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
}

.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}

.header__wrapper .cols__container .right__col nav button {
  background: #0091ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.header__wrapper .cols__container .right__col nav button:hover {
  opacity: 0.8;
}

.header__wrapper .cols__container .right__col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}

.header__wrapper .cols__container .right__col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    padding-bottom: 50px;
  }

  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }

  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }

  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }

}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }

  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }

  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contet-right p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-kh {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #d4d2d2;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.box-kh img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.content-box h4,
.content-box p {
  margin: 0;
}


.wrapper_contact {
  margin-top: 15px;
}

.wrapper_contact a {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 6px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 1px solid #d4d2d2;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.wrapper_contact a span {
  position: relative;
  z-index: 2;
}

.wrapper_contact a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.wrapper_contact a:hover {
  color: #fff;
}

.wrapper_contact a:hover:after {
  width: 100%;
}

@media (max-width: 900px) {
  .padding-pc {
    padding: 0px !important;
  }
  .contet-right {
    padding: 10px;
  }

  .contet-right h2 {
    font-size: 18px;
    text-align: center;
  }

  .box-kh {
    display: block;
  }

  .box-kh img {
    width: 100%;
    height: auto;
  }

  .wrapper_contact a {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
}

.review  {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.review p i{
padding-right: 10px;
}
.box-social-icons-item a  {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}
.box-social-icons-item a img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.box-social-icons {
  text-align: left;
}
.border-dashed {
  width: 100%;
  border: 1px dashed #a2a2a2;
  margin-top: 30px;
  margin-bottom: 10px;
}
.padding-pc {
  padding: 20px;
}